{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "airbnb",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@babel", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react/function-component-definition": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-curly-newline": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["WrappedField"],
        "depth": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "max-len": [
      2,
      100,
      4,
      {
        "ignoreUrls": true,
        "ignorePattern": "^(\\s*(var|let|const)\\s.+=\\s*require\\s*\\()|(^\\s*import)"
      }
    ],
    "comma-dangle": 0,
    "react/prop-types": 0,
    "no-param-reassign": 0,
    "no-prototype-builtins": 0,
    "jsx-a11y/label-has-for": 0,
    "spaced-comment": 0, // To support our copyright banner.
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/__tests_helpers__/**",
          "**/*.test.jsx",
          "**/*.test.js",
          "**/jest.setup.js"
        ]
      }
    ]
  },
  "env": {
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "document": true,
    "window": true,
    "isFinite": true,
    "isNaN": true
  }
}
